version: '3.8'

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      # -"port_internal:port_external"
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped

volumes:
  ollama:
